@page
@model NorthwindApp.Pages.EmployeePages.EditModel
@{
    ViewData["Title"] = "Edit: " + @Model.Employee.FirstName;
}
<div class="mx-auto text-start mt-3 widget shadow-info" style="max-width:55em;">
    <div class="row">
        <div class="text-center">
            <h3 class="py-3">Edit @Model.Employee.FirstName @Model.Employee.LastName</h3>
        </div>
    </div>

    <form method="post" enctype="multipart/form-data" class="needs-validation widget" novalidate>

        <div class="row justify-content-center m-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Employee.EmployeeID" />

            <div class="col-md-4">
                <div class="form-group mx-3 mb-4 mx-auto">
                    <label asp-for="Employee.Photo" class="label small ms-2 p-0"><p></p></label>                    
                   <img src="data:image/webp;base64,@Convert.ToBase64String(Model.Employee.Photo)" class="img shadow card-img-top rounded-3" style="width: 15em auto;" />
                    @* <img src="@String.Format("data:image/jpg;base64,{0}", @Model.Employee.Photo)" class="card-img-top" style="width: 17em;" /> *@
                    <span asp-validation-for="Employee.Photo" class="text-danger small"></span>
                </div>
                <div class="form-group mt-4">
                    @* <label asp-for="Employee.PhotoFile" class="control-label"></label> *@
                    <input asp-for="Employee.PhotoFile" type="file" class="form-control form-control-sm widget text-center needs-validation" validate required />
                    <span asp-validation-for="Employee.PhotoFile" class="text-danger small"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Employee.FirstName" class="label small ms-2 p-0"></label>
                    <input asp-for="Employee.FirstName" class="form-control form-control-sm widget text-center needs-validation" validate required />
                    <span asp-validation-for="Employee.FirstName" class="text-danger small"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Employee.LastName" class="label small ms-2"></label>
                    <input asp-for="Employee.LastName" class="form-control form-control-sm widget text-center needs-validation" validate required />
                    <span asp-validation-for="Employee.LastName" class="text-danger small"></span>
                </div>
            </div>

            <div class="col-md-4 mt-2">
                <div class="form-group mb-3">
                    <label asp-for="Employee.BirthDate" class="label small ms-2"></label>
                    <input asp-for="Employee.BirthDate" class="form-control form-control-sm widget text-center needs-validation" validate required />
                    <span asp-validation-for="Employee.BirthDate" class="text-danger small"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Employee.Address" class="label small ms-2"></label>
                    <input asp-for="Employee.Address" class="form-control form-control-sm widget text-center needs-validation" validate required />
                    <span asp-validation-for="Employee.Address" class="text-danger small"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Employee.City" class="label small ms-2"></label>
                    <input asp-for="Employee.City" class="form-control form-control-sm widget text-center needs-validation" validate required />
                    <span asp-validation-for="Employee.City" class="text-danger small"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Employee.Country" class="label small ms-2"></label>
                    <input asp-for="Employee.Country" class="form-control form-control-sm widget text-center needs-validation" validate required />
                    <span asp-validation-for="Employee.Country" class="text-danger small"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Employee.PostalCode" class="label small ms-2"></label>
                    <input asp-for="Employee.PostalCode" class="form-control form-control-sm widget text-center needs-validation" validate required />
                    <span asp-validation-for="Employee.PostalCode" class="text-danger small"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Employee.HomePhone" class="label small ms-2"></label>
                    <input asp-for="Employee.HomePhone" class="form-control form-control-sm widget text-center needs-validation" validate required />
                    <span asp-validation-for="Employee.HomePhone" class="text-danger small"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Employee.Region" class="label small ms-2"></label>
                    <input asp-for="Employee.Region" class="form-control form-control-sm widget text-center" />
                    <span asp-validation-for="Employee.Region" class="text-danger small"></span>
                </div>
            </div>
       
            <div class="col-md-4 mt-2">
                <div class="form-group mb-3">
                    <label asp-for="Employee.ReportsTo" class="label small ms-2"></label>
                    <select asp-for="Employee.ReportsTo" class="form-control form-control-sm dropdown-toggle widget text-center" asp-items="ViewBag.ReportsTo">
                        <i class="bi-arrow-90deg-down"></i>
                    </select>
                </div>      
                <div class="form-group mb-3">
                    <label asp-for="Employee.HireDate" class="label small ms-2"></label>
                    <input asp-for="Employee.HireDate" class="form-control form-control-sm widget text-center needs-validation" validate required />
                    <span asp-validation-for="Employee.HireDate" class="text-danger small"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Employee.Extension" class="label small ms-2"></label>
                    <input asp-for="Employee.Extension" class="form-control form-control-sm widget text-center needs-validation" validate required />
                    <span asp-validation-for="Employee.Extension" class="text-danger small"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Employee.Title" class="label small ms-2"></label>
                    <input asp-for="Employee.Title" class="form-control form-control-sm widget text-center needs-validation" validate required />
                    <span asp-validation-for="Employee.Title" class="text-danger small"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Employee.TitleOfCourtesy" class="label small ms-2"></label>
                    <input asp-for="Employee.TitleOfCourtesy" class="form-control form-control-sm widget text-center needs-validation" validate required />
                    <span asp-validation-for="Employee.TitleOfCourtesy" class="text-danger small"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Employee.PhotoPath" class="label small ms-2"></label>
                    <input asp-for="Employee.PhotoPath" class="form-control form-control-sm widget text-center needs-validation" validate required />
                    <span asp-validation-for="Employee.PhotoPath" class="text-danger small"></span>
                </div>
            </div>         
 
            <div class="form-group mb-3 col-md-12">
                <label asp-for="Employee.Notes" class="label small ms-2"></label>
                <textarea asp-for="Employee.Notes" rows="2" cols="40" class="form-control form-control-sm widget text-center needs-validation" validate required></textarea>
                <span asp-validation-for="Employee.Notes" class="text-danger small"></span>
            </div>       

            <div class="col-md-9">
                <div class="form-group text-end py-3">
                    <input type="submit" value="Save" class="btn btn-sm btn-outline-info rounded-4 col-2 float-start mt-auto shadow" />
                    <a asp-page="./Index" class="btn btn-sm btn-outline-danger rounded-3 col-2 rounded-4 mx-auto mt-auto shadow">Back</a>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script defer>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>