@page
@model NorthwindApp.Pages.EmployeePages.IndexModel

@{ ViewData["Title"] = "Employees"; }

<div class="mx-auto w-75 py-3 mt-3">
    <div class="">

        @foreach (var item in Model.Employee)
        {
            <div class="me-md-1 d-inline-block justify-content-between p-2">
                <div class="card widget p-0 shadow-info m-2 rounded-bottom-0">
                    <a asp-page="./Details" asp-route-id="@item.EmployeeID" class="text-decoration-none">
                        @* <img src="data:image/jpg;base64,@item.Photo" style="width:17em;" class="card-img-top" /> *@
                     @* <img src="@String.Format("data:image/jpg;base64,{0}", @item.Photo, item.Photo.Length - 78, Base64FormattingOptions.None)" class="card-img-top" style="width: 17em;" /> *@
                        <img src="data:image/webp;base64,@Convert.ToBase64String(@item.Photo)" class="card-img-top rounded-top-2" style="width: 17em; height:17em;" title="@item.LastName" /> 
                       
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title text-white-50 fw-normal">@item.TitleOfCourtesy @item.LastName @item.FirstName</h5>
                            <p class="card-text flex-md-wrap text-secondary fw-bold mb-3">@item.Title</p>
                            <hr />
                            <a asp-page="./Details" asp-route-id="@item.EmployeeID" class="btn btn-sm btn-outline-info widget col-4 rounded-4 shadow">Details</a>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div> 
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}