@page
@model IndexModel

@{
    ViewData["Title"] = "Northwind-In-Chart";
}
<div class="container-fluid mx-auto" style="max-width: 90%;">

    <div class="row mt-4">

        @* Product Sales In Total *@
        <div class="col-md-3 mb-2">
            <div class="d-flex flex-row widget summary totalSum">
                <div class="d-flex flex-column p-2">
                    <i class="bi-currency-euro fs-3 text-success"></i>
                </div>
                <div class="flex-column m-auto">
                    <div class="text-success">@ViewData["ProductSalesInTotal"] 
                        <i class="bi-arrow-up text-success"></i>
                    </div>
                    <span class="fs-6">Total Category sales </span>
                </div>
            </div>
        </div>

        @* Shipper *@
        <div class="col-md-3 mb-2">
            <div class="d-flex flex-row widget summary totalQuantity">
                <div class="d-flex flex-column justify-content-center p-2">
                    <i class="bi-currency-euro fs-3 text-danger"></i>
                </div>
                <div class="flex-column m-auto">
                    <div class="text-danger">@ViewData["Shipper"]</div>
                    <span class="fs-6">Shipers total</span>
                </div>
            </div>
        </div>

        @* Revenue *@
        <div class="col-md-3 mb-2">
            <div class="d-flex flex-row widget summary revenue border border-0">
                <div class="d-flex flex-column justify-content-center p-2">
                    <i class="bi-currency-euro fs-3 text-success align-self-auto"></i>
                </div>
                <div class="flex-column m-auto ">
                    <span class="text-danger">category</span>
                    <div class="vrednost">@ViewData["category"]</div>
                </div>
            </div>
        </div>

        @* Revenue *@
        <div class="col-md-3 mb-2 ">
            <div class="d-flex flex-row widget summary revenue border border-0">
                <div class="d-flex flex-column justify-content-center p-2">
                    <i class="bi-currency-euro fs-3 text-secondary"></i>
                </div>
                <div class="flex-column m-auto">
                    <span class="text-danger">Revenue</span>
                    <div class="vrednost">@ViewBag.Revenue</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" >
    

        @* Multiline chart *@
        <div class="col-md-6">
            <div class="text-center">
                <div class="row">
                    <div class="chart-container">
                    <canvas id="multiline" class="my-1 p-1 widget shadow-dark"></canvas>
                    </div>          
                </div>
            </div>
        </div>

        @* Category Sales flor 97 *@
        <div class="col-md-3">
            <div class="text-center">
                <div class="row">
                    @* Category Sales for 97 *@             
                    <div class="chart-container">
                    <canvas id="CategorySales97" class="my-1 widget shadow-dark px-3"></canvas>
                    </div>
                </div>
            </div>
        </div>
               
        @* Category Sales flor 96 *@
        <div class="col-md-3">
            <div class="text-center">
                <div class="row">
                    @* Category Sales for 97 *@  
                    <div class="chart-container">
                        <canvas id="CategorySales96" class="my-1 widget shadow-dark px-2 py-2"></canvas>
                    </div>
                </div>
            </div>
        </div>
        @* style="box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1) !important;" *@
      
        <div class="col" style="max-width: 400px;">
            <div class="text-center">
                <div class="mt-1">
                    @foreach (var item in Model.Employees)
                    {
                        <div class="widget mt-2 p-2 shadow-dark">

                            <div class="rounded-5 text-center d-flex d-inline">
                                <img class="rounded-5 me-md-3" style="width: 3em; height:3em;" src="data:image/webp;base64,@Convert.ToBase64String(@item.Photo)" title="@item.LastName" />
                                <div class="align-self-center offset-1 fs-6">
                                        @item.TitleOfCourtesy @item.FirstName @item.LastName,
                                        <div class="text-center small">@item.Title</div>
                                </div>
                            </div>
                                               
                        </div>   
                    }                      
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script type="text/javascript">

        
        
        // Category sales 96 doughnut ====================================================================

            const jss = '@Html.Raw(ViewData["CategorySales96"])';
            const vals = JSON.parse(jss);

            const cts = document.getElementById('CategorySales96');
            new Chart(cts, {
               type: 'doughnut',
               data: {
                 labels: [
                     vals[0].CategoryName,
                     vals[1].CategoryName,
                     vals[2].CategoryName,
                     vals[3].CategoryName,
                     vals[4].CategoryName,
                     vals[5].CategoryName,
                     vals[6].CategoryName,
                     vals[7].CategoryName,
                 ],
                 datasets: [{
                    label: 'Sold',
                    data: [
                        vals[0].CategorySales,
                        vals[1].CategorySales,
                        vals[2].CategorySales,
                        vals[3].CategorySales,
                        vals[4].CategorySales,
                        vals[5].CategorySales,
                        vals[6].CategorySales,
                        vals[7].CategorySales,
                    ],
                    borderWidth: 6,
                    borderColor: 'rgba(25, 33, 41, 1)',
                    backgroundColor: [
                        'rgb(121, 222, 115)',
                        'rgb(186, 102, 155)',
                        "#6200c9",
                        "#0067c9",
                        'rgba(205, 202, 115, 0.5)',
                        'rgba(200, 22, 205, 0.3)',
                        'rgba(10, 252, 200, 0.5)',
                        'rgba(255, 102, 255, 0.5)',
                    ],
                    fill: true,
                 }]
               },
               options: {
                   plugins: {                     
                       title: {
                           display: true,
                           text: 'Category sales 1996'
                       },
                       legend: {
                           display: true,
                           position: 'right',
                       }
                   },
                   rotation: 100,
                   // circumference: '200',
                   // radius: '100',
                   // cutout: '110',
                   maintainAspectRatio: true,
                   devicePixelRatio: 1,
                   cutout: '10',
                   hoverOffset: 70,
                   responsive: true,
                   animation: {
                     animateRotate: true,
                     animateScale: true,
                   }
               }
            });


    // Category sales 97 doughnut ====================================================================
               
       const js = '@Html.Raw(ViewData["CategorySales97"])';
       const val = JSON.parse(js);

       const ct = document.getElementById('CategorySales97');
       new Chart(ct, {
           type: 'doughnut',
          data: {
            labels: [
                val[0].CategoryName,
                val[1].CategoryName,
                val[2].CategoryName,
                val[3].CategoryName,
                val[4].CategoryName,
                val[5].CategoryName,
                val[6].CategoryName,
                val[7].CategoryName,
            ],
            datasets: [{
               label: 'Sold',
               data: [
                   val[0].CategorySales,
                   val[1].CategorySales,
                   val[2].CategorySales,
                   val[3].CategorySales,
                   val[4].CategorySales,
                   val[5].CategorySales,
                   val[6].CategorySales,
                   val[7].CategorySales,
               ],
               borderWidth: 6,
               borderColor: 'rgba(25, 33, 41, 1)',
               backgroundColor: [
                   'rgb(121, 222, 115)',
                   'rgb(186, 102, 155)',
                   "#6200c9", 
                   "#0067c9",
                   'rgb(205, 202, 115)',
                   'rgba(200, 22, 205, 1)',
                   'rgba(10, 252, 200, 1)',
                   'rgb(255, 102, 255)',
               ],
               fill: false,
                   
            }]
          },
          options: {   
              plugins: {
                  title: {
                      display: true,                      
                      text: 'Category sales 1997'                      
                  },
                  legend: {
                      display: true,
                      position: 'bottom',                              
                  }
              },
              rotation: 100,
              // circumference: '200',
              // radius: '100',
               // cutout: '110',
              maintainAspectRatio: true,
              devicePixelRatio: 1,
              cutout: '0',           
              hoverOffset: 70,
              responsive: true,
              animation: {
                animateRotate: true,
                animateScale: true,
              }
          }
       });

               
       
    // ======== Multiline chart ================================================== //
        var jsonSales96 = '@Html.Raw(ViewData["Sales96"])';
        var value96 = JSON.parse(jsonSales96);

        var jsonSales97 = '@Html.Raw(ViewData["Sales97"])';
        var values97 = JSON.parse(jsonSales97);

        var jsonSales98 = '@Html.Raw(ViewData["Sales98"])';
        var values98 = JSON.parse(jsonSales98);

        var ctx = document.getElementById('multiline').getContext('2d');
        let delayed;
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: value96.map(m => m.CategoryName),
                datasets: [{
                    label: '1996',
                    data: value96.map(m => m.ProductSales),
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 2,
                    hitRadius: 30,
                    fill: false
                },
                {
                    label: '1997',
                    data: values97.map(a => a.ProductSales),
                    borderColor: 'rgb(205, 102, 255)',
                    borderWidth: 2,
                    hitRadius: 30,
                    backgroundColor: 'rgba(153, 102, 255, 0.2)',
                    fill: false
                },
                {
                    label: '1998',
                    data: values98.map(z => z.ProductSales),
                    borderColor: 'rgba(255, 159, 132, 1)',
                    borderWidth: 2,
                    hitRadius: 30,
                    backgroundColor: 'rgba(255, 159, 132, 0.1)',
                    fill: false
                }]
            },
            options: 
            {
                maintainAspectRatio: true,
                devicePixelRatio: 1,
                plugins: {
                    title: {
                        display: false,
                        text: 'Rale'
                    },
                    subtitle: {
                        display: false,
                        text: "Rados",
                        position: 'right',
                        color: 'rgb(255, 159, 132)',
                    }, 
                    tooltip: {
                        intersect: false,
                        usePointStyle: true,
                        callbacks: {
                            labelColor: function(context) {
                                return {
                                    borderColor: 'rgb(0, 15, 0)',
                                    backgroundColor: 'rgb(150, 250, 240)',
                                    borderWidth: 2,
                                    borderDash: [5, 5],
                                    borderRadius: 4,
                                };
                            },
                            labelTextColor: function(context) {                       
                                return {
                                    pointStyle: 'triangle',
                                    rotation: 1
                                };
                            },
                        }
                    },
                },                            
                padding: 50,
                tension: 0.4,
                responsive: true,
                animation: {
                    tension: {
                        duration: 700,
                        easing: 'linear',
                        from: 0.7,
                        to: 0,
                        loop: true
                    },
                    onComplete: () => {
                        delayed = true;
                    },
                    delay: (context) => {
                        let delay = 0;
                        if (context.type === "data" && context.mode === "default" && !delayed) {
                            delay = context.dataIndex * 300 + context.datasetIndex * 100;
                        }
                        return delay;
                    },
                },
                scales: {
                    x: {
                        display: true,
                        title: {
                            display: false,
                            text: 'Products'
                        }
                    },
                    y:
                    {
                        ticks: {
                            callback: function (value) { return "$ " + Math.min(value) },
                        },
                        type: 'linear',
                        display: true,
                        title: {
                            display: false,
                            text: 'Value'
                        }
                    }
                }
            }
        });         

    // Category sales 97 chart




    </script>


}

@* 

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-autocolors"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>  
     



<div class="row mx-auto">
    <div class="text-center">
        <div class="row p-5">
            <div class="chart-container">
                <canvas id="multiline" class="my-4"></canvas>
            </div>
        </div>
    </div>
</div>



<section class="container mx-auto p-3" style="max-width: 85%;">

        <div class="row mx-auto">    
            <div class="text-center">
                <div class="row">
                    <div class="chart-container">
                        <canvas id="Sales96" class="my-4"></canvas>
                    </div>    
                </div>
            </div>
        </div>
</section>

<section>
    <div class="container mx-auto" style="max-width: 85%;">

        <div class="row mx-auto">
            <div class="text-center">
                <div class="row">
                    <div class="chart-container">
                        <canvas id="Sales97" class="my-4"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="row mx-auto">
    <div class="text-center">
        <div class="row">       
            <div class="chart-container">
                <canvas id="Sales98" class="my-4"></canvas>
            </div>

        </div>
    </div>
</div>




        //Prouct sales for 1996
        //  var Sales96 = document.getElementById('Sales96').getContext('2d');
        //  var products = new Chart(Sales96, {
        //     type: 'bar',
        //     data: {
        //         labels: value96.map(x => x.CategoryName),
        //         datasets: [{
        //         label: 'Product Sales for 1996',
        //         data: value96.map(x => x.ProductSales),
        //         backgroundColor: [
        //             'rgba(54, 162, 235, 0.2)',
        //             'rgba(255, 99, 132, 0.2)',
        //             'rgba(255, 159, 64, 0.2)',
        //             'rgba(255, 205, 86, 0.2)',
        //             'rgba(153, 102, 255, 0.2)',
        //             'rgba(75, 192, 192, 0.2)',
        //             'rgba(201, 203, 207, 0.2)',
        //             'rgba(255, 205, 86, 0.2)',
        //             'rgba(255, 99, 132, 0.2)',
        //             'rgba(255, 159, 64, 0.2)',
        //             'rgba(75, 192, 192, 0.2)',
        //             'rgba(255, 159, 64, 0.2)',
        //             'rgba(255, 99, 132, 0.2)',
        //             'rgba(54, 162, 235, 0.2)',
        //             'rgba(201, 203, 207, 0.2)',
        //             'rgba(75, 192, 192, 0.2)',
        //             'rgba(153, 102, 255, 0.2)',
        //             'rgba(201, 203, 207, 0.2)',
        //             'rgba(54, 162, 235, 0.2)',
        //             'rgba(255, 205, 86, 0.2)',
        //             'rgba(153, 102, 255, 0.2)',
        //             'rgba(54, 162, 235, 0.2)',
        //             'rgba(255, 99, 132, 0.2)',
        //             'rgba(255, 159, 64, 0.2)',
        //             'rgba(255, 205, 86, 0.2)',
        //             'rgba(153, 102, 255, 0.2)',
        //             'rgba(75, 192, 192, 0.2)',
        //             'rgba(201, 203, 207, 0.2)',
        //             'rgba(255, 205, 86, 0.2)',
        //             'rgba(255, 99, 132, 0.2)',
        //             'rgba(255, 159, 64, 0.2)',
        //             'rgba(75, 192, 192, 0.2)',
        //             'rgba(255, 159, 64, 0.2)',
        //             'rgba(255, 99, 132, 0.2)',
        //             'rgba(54, 162, 235, 0.2)',
        //             'rgba(201, 203, 207, 0.2)',
        //             'rgba(75, 192, 192, 0.2)',
        //             'rgba(153, 102, 255, 0.2)',
        //             'rgba(201, 203, 207, 0.2)',
        //             'rgba(54, 162, 235, 0.2)',
        //             'rgba(255, 205, 86, 0.2)',
        //             'rgba(153, 102, 255, 0.2)',
        //             'rgba(54, 162, 235, 0.2)',
        //             'rgba(255, 99, 132, 0.2)',
        //             'rgba(255, 159, 64, 0.2)',
        //             'rgba(255, 205, 86, 0.2)',
        //             'rgba(153, 102, 255, 0.2)',
        //             'rgba(75, 192, 192, 0.2)',
        //             'rgba(201, 203, 207, 0.2)',
        //             'rgba(255, 205, 86, 0.2)',
        //             'rgba(255, 99, 132, 0.2)',
        //             'rgba(255, 159, 64, 0.2)',
        //             'rgba(75, 192, 192, 0.2)',
        //             'rgba(255, 159, 64, 0.2)',
        //             'rgba(255, 99, 132, 0.2)',
        //             'rgba(54, 162, 235, 0.2)',
        //             'rgba(201, 203, 207, 0.2)',
        //             'rgba(75, 192, 192, 0.2)',
        //             'rgba(153, 102, 255, 0.2)',
        //             'rgba(201, 203, 207, 0.2)',
        //             'rgba(54, 162, 235, 0.2)',
        //             'rgba(255, 205, 86, 0.2)',
        //             'rgba(153, 102, 255, 0.2)',
        //             'rgba(54, 162, 235, 0.2)',
        //             'rgba(255, 99, 132, 0.2)',
        //             'rgba(255, 159, 64, 0.2)',
        //             'rgba(255, 205, 86, 0.2)',
        //             'rgba(153, 102, 255, 0.2)',
        //             'rgba(75, 192, 192, 0.2)',
        //             'rgba(201, 203, 207, 0.2)',
        //             'rgba(255, 205, 86, 0.2)',
        //             'rgba(255, 99, 132, 0.2)',
        //             'rgba(255, 159, 64, 0.2)',
        //             'rgba(75, 192, 192, 0.2)',
        //             'rgba(255, 159, 64, 0.2)',
        //             'rgba(255, 99, 132, 0.2)',
        //             'rgba(54, 162, 235, 0.2)',
        //             'rgba(201, 203, 207, 0.2)',
        //             'rgba(75, 192, 192, 0.2)',
        //             'rgba(153, 102, 255, 0.2)',
        //             'rgba(201, 203, 207, 0.2)',
        //             'rgba(54, 162, 235, 0.2)',
        //             'rgba(255, 205, 86, 0.2)',
        //             'rgba(153, 102, 255, 0.2)',
        //             ],
        //             borderColor: [
        //             'rgb(255, 99, 132)',
        //             'rgb(255, 159, 64)',
        //             'rgb(255, 205, 86)',
        //             'rgb(75, 192, 192)',
        //             'rgb(54, 162, 235)',
        //             'rgb(153, 102, 255)',
        //             'rgb(201, 203, 207)',
        //             'rgb(255, 99, 132)',
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //               'rgb(75, 192, 192)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)',
        //             'rgb(255, 99, 132)',
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //               'rgb(75, 192, 192)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)',
        //              'rgb(255, 99, 132)',
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //               'rgb(75, 192, 192)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)',
        //             'rgb(255, 99, 132)',
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //               'rgb(75, 192, 192)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)',
        //              'rgb(255, 99, 132)',
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //               'rgb(75, 192, 192)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)',
        //              'rgb(255, 99, 132)',
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //               'rgb(75, 192, 192)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)',
        //               'rgb(255, 99, 132)',
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //               'rgb(75, 192, 192)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)',
        //              'rgb(255, 99, 132)',
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //               'rgb(75, 192, 192)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)',
        //               'rgb(255, 99, 132)',
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //               'rgb(75, 192, 192)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)',
        //               'rgb(255, 99, 132)',
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //               'rgb(75, 192, 192)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)',
        //             ],
        //             borderWidth: 1
        //         },
        //         {

        //             data: value96.map(x => x.ProductSales),
        //             backgroundColor: [
        //             'rgba(54, 162, 235, 0.2)',
        //             'rgba(255, 99, 132, 0.2)',
        //             'rgba(255, 159, 64, 0.2)',
        //             'rgba(255, 205, 86, 0.2)',
        //             'rgba(153, 102, 255, 0.2)',
        //             'rgba(75, 192, 192, 0.2)',
        //             'rgba(201, 203, 207, 0.2)',
        //             'rgba(255, 205, 86, 0.2)',
        //             'rgba(255, 99, 132, 0.2)',
        //             'rgba(255, 159, 64, 0.2)',
        //             'rgba(75, 192, 192, 0.2)',
        //             'rgba(255, 159, 64, 0.2)',
        //             'rgba(255, 99, 132, 0.2)',
        //             'rgba(54, 162, 235, 0.2)',
        //             'rgba(201, 203, 207, 0.2)',
        //             'rgba(75, 192, 192, 0.2)',
        //             'rgba(153, 102, 255, 0.2)',
        //             'rgba(201, 203, 207, 0.2)',
        //             'rgba(54, 162, 235, 0.2)',
        //             'rgba(255, 205, 86, 0.2)',
        //             'rgba(153, 102, 255, 0.2)',
        //             'rgba(54, 162, 235, 0.2)',
        //             'rgba(255, 99, 132, 0.2)',
        //             'rgba(255, 159, 64, 0.2)',
        //             'rgba(255, 205, 86, 0.2)',
        //             'rgba(153, 102, 255, 0.2)',
        //             'rgba(75, 192, 192, 0.2)',
        //             'rgba(201, 203, 207, 0.2)',
        //             'rgba(255, 205, 86, 0.2)',
        //             'rgba(255, 99, 132, 0.2)',
        //             'rgba(255, 159, 64, 0.2)',
        //             'rgba(75, 192, 192, 0.2)',
        //             'rgba(255, 159, 64, 0.2)',
        //             'rgba(255, 99, 132, 0.2)',
        //             'rgba(54, 162, 235, 0.2)',
        //             'rgba(201, 203, 207, 0.2)',
        //             'rgba(75, 192, 192, 0.2)',
        //             'rgba(153, 102, 255, 0.2)',
        //             'rgba(201, 203, 207, 0.2)',
        //             'rgba(54, 162, 235, 0.2)',
        //             'rgba(255, 205, 86, 0.2)',
        //             'rgba(153, 102, 255, 0.2)',
        //             'rgba(54, 162, 235, 0.2)',
        //             'rgba(255, 99, 132, 0.2)',
        //             'rgba(255, 159, 64, 0.2)',
        //             'rgba(255, 205, 86, 0.2)',
        //             'rgba(153, 102, 255, 0.2)',
        //             'rgba(75, 192, 192, 0.2)',
        //             'rgba(201, 203, 207, 0.2)',
        //             'rgba(255, 205, 86, 0.2)',
        //             'rgba(255, 99, 132, 0.2)',
        //             'rgba(255, 159, 64, 0.2)',
        //             'rgba(75, 192, 192, 0.2)',
        //             'rgba(255, 159, 64, 0.2)',
        //             'rgba(255, 99, 132, 0.2)',
        //             'rgba(54, 162, 235, 0.2)',
        //             'rgba(201, 203, 207, 0.2)',
        //             'rgba(75, 192, 192, 0.2)',
        //             'rgba(153, 102, 255, 0.2)',
        //             'rgba(201, 203, 207, 0.2)',
        //             'rgba(54, 162, 235, 0.2)',
        //             'rgba(255, 205, 86, 0.2)',
        //             'rgba(153, 102, 255, 0.2)',
        //             'rgba(54, 162, 235, 0.2)',
        //             'rgba(255, 99, 132, 0.2)',
        //             'rgba(255, 159, 64, 0.2)',
        //             'rgba(255, 205, 86, 0.2)',
        //             'rgba(153, 102, 255, 0.2)',
        //             'rgba(75, 192, 192, 0.2)',
        //             'rgba(201, 203, 207, 0.2)',
        //             'rgba(255, 205, 86, 0.2)',
        //             'rgba(255, 99, 132, 0.2)',
        //             'rgba(255, 159, 64, 0.2)',
        //             'rgba(75, 192, 192, 0.2)',
        //             'rgba(255, 159, 64, 0.2)',
        //             'rgba(255, 99, 132, 0.2)',
        //             'rgba(54, 162, 235, 0.2)',
        //             'rgba(201, 203, 207, 0.2)',
        //             'rgba(75, 192, 192, 0.2)',
        //             'rgba(153, 102, 255, 0.2)',
        //             'rgba(201, 203, 207, 0.2)',
        //             'rgba(54, 162, 235, 0.2)',
        //             'rgba(255, 205, 86, 0.2)',
        //             'rgba(153, 102, 255, 0.2)',
        //             ],
        //             borderColor: [
        //             'rgb(255, 99, 132)',
        //             'rgb(255, 159, 64)',
        //             'rgb(255, 205, 86)',
        //             'rgb(75, 192, 192)',
        //             'rgb(54, 162, 235)',
        //             'rgb(153, 102, 255)',
        //             'rgb(201, 203, 207)',
        //             'rgb(255, 99, 132)',
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //               'rgb(75, 192, 192)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)',
        //             'rgb(255, 99, 132)',
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //               'rgb(75, 192, 192)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)',
        //              'rgb(255, 99, 132)',
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //               'rgb(75, 192, 192)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)',
        //             'rgb(255, 99, 132)',
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //               'rgb(75, 192, 192)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)',
        //              'rgb(255, 99, 132)',
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //               'rgb(75, 192, 192)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)',
        //              'rgb(255, 99, 132)',
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //               'rgb(75, 192, 192)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)',
        //               'rgb(255, 99, 132)',
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //               'rgb(75, 192, 192)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)',
        //              'rgb(255, 99, 132)',
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //               'rgb(75, 192, 192)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)',
        //               'rgb(255, 99, 132)',
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //               'rgb(75, 192, 192)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)',
        //               'rgb(255, 99, 132)',
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //               'rgb(75, 192, 192)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)',
        //             ],
        //             borderWidth: 1
        //         },
        //         {
        //                                 data: value96.map(x => x.ProductSales),
        //             backgroundColor: [
        //             'rgba(54, 162, 235, 0.2)',
        //             'rgba(255, 99, 132, 0.2)',
        //             'rgba(255, 159, 64, 0.2)',
        //             'rgba(255, 205, 86, 0.2)',
        //             'rgba(153, 102, 255, 0.2)',
        //             'rgba(75, 192, 192, 0.2)',
        //             'rgba(201, 203, 207, 0.2)',
        //             'rgba(255, 205, 86, 0.2)',
        //             'rgba(54, 162, 235, 0.2)',
        //             'rgba(255, 205, 86, 0.2)',
        //             'rgba(255, 99, 132, 0.2)',
        //             'rgba(255, 159, 64, 0.2)',
        //             'rgba(75, 192, 192, 0.2)',
        //             'rgba(255, 159, 64, 0.2)',
        //             'rgba(255, 99, 132, 0.2)',
        //             'rgba(54, 162, 235, 0.2)',
        //             'rgba(255, 99, 132, 0.2)',
        //             'rgba(75, 192, 192, 0.2)',
        //             'rgba(153, 102, 255, 0.2)',
        //             'rgba(201, 203, 207, 0.2)',
        //             'rgba(54, 162, 235, 0.2)',
        //             'rgba(54, 162, 235, 0.2)',
        //             'rgba(255, 159, 64, 0.2)',
        //             'rgba(255, 205, 86, 0.2)',
        //             'rgba(153, 102, 255, 0.2)',
        //             'rgba(75, 192, 192, 0.2)',
        //             'rgba(201, 203, 207, 0.2)',
        //             'rgba(255, 205, 86, 0.2)',
        //             'rgba(255, 99, 132, 0.2)',
        //             'rgba(255, 159, 64, 0.2)',
        //             'rgba(75, 192, 192, 0.2)',
        //             'rgba(255, 205, 86, 0.2)',
        //             'rgba(153, 102, 255, 0.2)',
        //             'rgba(54, 162, 235, 0.2)',
        //             'rgba(255, 99, 132, 0.2)',
        //             'rgba(255, 159, 64, 0.2)',
        //             'rgba(255, 99, 132, 0.2)',
        //             'rgba(54, 162, 235, 0.2)',
        //             'rgba(153, 102, 255, 0.2)',
        //             'rgba(255, 205, 86, 0.2)',
        //             'rgba(75, 192, 192, 0.2)',
        //             'rgba(153, 102, 255, 0.2)',
        //             'rgba(201, 203, 207, 0.2)',
        //             'rgba(54, 162, 235, 0.2)',
        //             'rgba(201, 203, 207, 0.2)',
        //             'rgba(54, 162, 235, 0.2)',
        //             'rgba(201, 203, 207, 0.2)',
        //             'rgba(255, 205, 86, 0.2)',
        //             'rgba(255, 99, 132, 0.2)',
        //             'rgba(255, 159, 64, 0.2)',
        //             'rgba(75, 192, 192, 0.2)',
        //             'rgba(255, 159, 64, 0.2)',
        //             'rgba(255, 99, 132, 0.2)',
        //             'rgba(54, 162, 235, 0.2)',
        //             'rgba(201, 203, 207, 0.2)',
        //             'rgba(255, 99, 132, 0.2)',
        //             'rgba(255, 159, 64, 0.2)',
        //             'rgba(255, 205, 86, 0.2)',
        //             'rgba(153, 102, 255, 0.2)',
        //             'rgba(75, 192, 192, 0.2)',
        //             'rgba(75, 192, 192, 0.2)',
        //             'rgba(153, 102, 255, 0.2)',
        //             'rgba(201, 203, 207, 0.2)',
        //             'rgba(54, 162, 235, 0.2)',
        //             'rgba(255, 205, 86, 0.2)',
        //             'rgba(153, 102, 255, 0.2)',
        //             ],
        //             borderColor: [
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //               'rgb(75, 192, 192)',
        //               'rgb(75, 192, 192)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)',
        //             'rgb(255, 99, 132)',
        //             'rgb(255, 159, 64)',
        //             'rgb(255, 205, 86)',
        //             'rgb(75, 192, 192)',
        //             'rgb(54, 162, 235)',
        //             'rgb(153, 102, 255)',
        //             'rgb(201, 203, 207)',
        //             'rgb(255, 99, 132)',
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //             'rgb(255, 99, 132)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)',
        //              'rgb(255, 99, 132)',
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //               'rgb(75, 192, 192)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)',
        //             'rgb(255, 99, 132)',
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //               'rgb(75, 192, 192)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)',
        //              'rgb(255, 99, 132)',
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //               'rgb(75, 192, 192)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)',
        //              'rgb(255, 99, 132)',
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //               'rgb(75, 192, 192)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)',
        //               'rgb(255, 99, 132)',
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //               'rgb(75, 192, 192)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)',
        //              'rgb(255, 99, 132)',
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //               'rgb(75, 192, 192)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)',
        //               'rgb(255, 99, 132)',
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //               'rgb(75, 192, 192)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)',
        //               'rgb(255, 99, 132)',
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //               'rgb(75, 192, 192)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)',
        //             ],
        //             borderWidth: 1
        //         }
        //         ]
        //     },
        //     options: {
        //         tension: 0.4,
        //         responsive: true,                                    
        //         animation: {
        //             tension: {
        //                 duration: 700,
        //                 easing: 'linear',
        //                 from: 0.7,
        //                 to: 0,
        //                 loop: true
        //             },
        //             onComplete: () => {
        //                 delayed = true;
        //             },
        //             delay: (context) => {
        //                 let delay = 0;
        //                 if(context.type === "data" && context.mode === "default" && !delayed) {
        //                     delay = context.dataIndex * 300 + context.datasetIndex * 100;
        //                 }
        //                 return delay;
        //             },
        //         },
        //         plugins: {
        //             autocolors: true,
        //         },
        //         scales: {
        //             yAxes: [{
        //                 ticks: {
        //                     beginAtZero: false
        //                 }
        //             }]
        //         },
        //     }
        // });

        //Product sales for 1997
        // var Sales97 = document.getElementById('Sales97').getContext('2d');
        // var product = new Chart(Sales97, {
        //     type: 'line',
        //     data: {
        //         labels: values97.map(x => x.CategoryName),
        //         datasets: [{              
        //             data: values97.map(x => x.ProductSales),
        //             label: 'Product Sales for 1997',
        //             backgroundColor: (contex) => {                        
        //                 const bgColor = [
        //                     'rgba(54, 162, 235, 0.2)',
        //                     'rgba(255, 99, 132, 0.2)',
        //                     'rgba(255, 159, 64, 0.2)',
        //                     'rgba(255, 205, 86, 0.2)',
        //                     'rgba(153, 102, 255, 0.2)'                            
        //                 ];
        //             },
        //             borderColor: [
        //             'rgb(255, 99, 132)',
        //             'rgb(255, 159, 64)',
        //             'rgb(255, 205, 86)',
        //             'rgb(75, 192, 192)',
        //             'rgb(54, 162, 235)',
        //             'rgb(153, 102, 255)',
        //             'rgb(201, 203, 207)',
        //             'rgb(255, 99, 132)',
        //             'rgb(255, 159, 64)',
        //             'rgb(255, 205, 86)',
        //             'rgb(75, 192, 192)',
        //             'rgb(54, 162, 235)',
        //             'rgb(153, 102, 255)',
        //             'rgb(201, 203, 207)',
        //             'rgb(255, 99, 132)',
        //             'rgb(255, 159, 64)',
        //             'rgb(255, 205, 86)',
        //             'rgb(75, 192, 192)',
        //             'rgb(54, 162, 235)',
        //             'rgb(153, 102, 255)',
        //             'rgb(201, 203, 207)',
        //             'rgb(255, 99, 132)',
        //             'rgb(255, 159, 64)',
        //             'rgb(255, 205, 86)',
        //             'rgb(75, 192, 192)',
        //             'rgb(54, 162, 235)',
        //             'rgb(153, 102, 255)',
        //             'rgb(201, 203, 207)',
        //             'rgb(255, 99, 132)',
        //             'rgb(255, 159, 64)',
        //             'rgb(255, 205, 86)',
        //             'rgb(75, 192, 192)',
        //             'rgb(54, 162, 235)',
        //             'rgb(153, 102, 255)',
        //             'rgb(201, 203, 207)',
        //             'rgb(255, 99, 132)',
        //             'rgb(255, 159, 64)',
        //             'rgb(255, 205, 86)',
        //             'rgb(75, 192, 192)',
        //             'rgb(54, 162, 235)',
        //             'rgb(153, 102, 255)',
        //             'rgb(201, 203, 207)',
        //             'rgb(255, 99, 132)',
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //               'rgb(75, 192, 192)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)',
        //               'rgb(255, 99, 132)',
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //               'rgb(75, 192, 192)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)',
        //              'rgb(255, 99, 132)',
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //               'rgb(75, 192, 192)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)',
        //               'rgb(255, 99, 132)',
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //               'rgb(75, 192, 192)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)',
        //               'rgb(255, 99, 132)',
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //               'rgb(75, 192, 192)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)',
        //             ]
        //         }]
        //     },
        //     options: {
        //         responsive: true,
        //         autocolors:{
        //             enabled: true,
        //             repeat: 2,
        //             offset: 5
        //         },
        //         scales: {
        //             yAxes: [{
        //                 ticks: {
        //                     beginAtZero: false
        //                 }
        //             }]
        //         },
        //     }
        // });

        // //Product sales for 1998
        // var jsonSales98 = '@Html.Raw(ViewData["Sales98"])';
        // var values98 = JSON.parse(jsonSales98);
        // var Sales98 = document.getElementById('Sales98').getContext('2d');
        // var product = new Chart(Sales98, {
        //     type: 'line',
        //     data: {
        //         labels: values98.map(x => x.CategoryName),
        //         datasets: [{
        //         label: 'Product Sales for 1998',
        //             data: values98.map(x => x.ProductSales),
        //             backgroundColor: 'rgba(54, 162, 235, 0.2)',
        //             borderColor: 'rgba(75, 192, 192,1)',
        //             borderWidth: 1
        //         }]
        //     },
        //     options: {
        //         scales: {
        //             yAxes: [{
        //                 ticks: {
        //                     beginAtZero: true
        //                 }
        //             }]
        //         },
        //     }
        // });








        // var jsonData = '@Html.Raw(ViewData["allBankData"])';
        // var values = JSON.parse(jsonData);
        // var colours = {
        //     'GTB': 'rgba(255, 99, 132, 0.2)',
        //     'UBA': 'rgba(201, 203, 207, 0.2)',
        //     'ZIB': 'rgba(153, 102, 255, 0.2)',
        //     'FBN': 'rgba(75, 192, 192, 0.2)',
        //     'ACC': 'rgba(50, 200, 100, 0.5)',
        // }

        // var barChartCanvas = document.getElementById('bar').getContext('2d');
        // var barChart = new Chart(barChartCanvas, {
        //     type: 'bar',
        //     data: {
        //         labels: values.map(x => x.Name),
        //         datasets: [{
        //             barThickness: 25,
        //             label: 'Bar Chart',
        //             data: values.map(x => x.TransactionsCount ),
        //             backgroundColor: values.map(x => x.Colour ),
        //             borderColor: [
        //               'rgb(255, 99, 132)',
        //               'rgb(255, 159, 64)',
        //               'rgb(255, 205, 86)',
        //               'rgb(75, 192, 192)',
        //               'rgb(54, 162, 235)',
        //               'rgb(153, 102, 255)',
        //               'rgb(201, 203, 207)'
        //             ],
        //         }]
        //     },
        //     scales: {
        //         yAxes: [{
        //             ticks: {
        //                 beginAtZero: true
        //             },
        //         }]
        //     }            
        // });


        // var pieChartCanvas = document.getElementById('pie').getContext('2d');
        // var pieChart = new Chart(pieChartCanvas, {
        //     type: 'pie',
        //     data: {
        //         labels: values.map(x => x.Name),
        //         datasets: [{
        //             label: 'Pie Chart',
        //             data: values.map(x => x.TransactionsCount ),
        //             backgroundColor: values.map(x => colours[x.Name] ),
        //             borderColor: [
        //                 'rgb(255, 99, 132)',
        //                 'rgb(255, 159, 64)',
        //                 'rgb(255, 205, 86)',
        //                 'rgb(75, 192, 192)',
        //                 'rgb(54, 162, 235)',
        //                 'rgb(153, 102, 255)',
        //                 'rgb(201, 203, 207)'
        //             ],
        //             borderWidth: 1
        //         }]
        //     },
        //     scales: {
        //         yAxes: [{
        //             ticks: {
        //                 beginAtZero: false
        //             }
        //         }]
        //     }            
        // });



*@